.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/
external/

data/*
!data/README.md
preprocessed_data
raw_data
graintts/preprocessed_data

checkpoints/
**/checkpoints/
runs/
**/runs/
outputs/
**/outputs/
val_outputs/
**/val_outputs/
logs/
**/logs/

*.ckpt
*.pt
*.pth
*.nemo
*.onnx
*.tflite
*.wav
*.flac
*.npy
